---
import BaseLayout from '@layouts/BaseLayout.astro'
import { type CollectionEntry, getCollection } from 'astro:content'
import MainSection from '@components/blocks/MainSection.astro'
import BlogCard from '@components/blog/BlogCard.astro'
import BlogList from '@components/blog/BlogList.astro'
import { SITE } from '../../../config'
import { getArticlesApi } from '@api/article'

const URL = Astro.url.href
const categoriesURL = `${Astro.url.origin}/categories`

const { id } = Astro.params;
const title = Astro.url.searchParams.get('title') === 'null' ? '' : (Astro.url.searchParams.get('title') || '')
const description = Astro.url.searchParams.get('description') === 'null' ? '' : (Astro.url.searchParams.get('description') || '')

const articles = await getArticlesApi({
    categoryId: id,
})
const posts = articles.data.records || []

---

<BaseLayout
    title={title}
    description={description}
    structuredData={{
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        'inLanguage': 'en-US',
        '@id': URL,
        'url': URL,
        'name': `${title} - ${SITE.title}`,
        'description': description,
        'isPartOf': {
            '@type': 'WebSite',
            'url': categoriesURL,
            'name': `All Categories - ${SITE.title}`,
        },
    }}
>
    <MainSection
        title={title}
        subTitle={description}
        btnExists={true}
        isCategory={true}
        btnTitle="分类列表"
        btnURL="/categories"
    />

    <section class="mx-auto max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 mb-10 2xl:max-w-full">
        <!-- 卡片 -->
        <div id="cardBlog" class="grid gap-6 grid-cols-1 lg:grid-cols-3 sm:grid-cols-2">
            {posts.map((b: any) => <BlogCard blog={b} />)}
        </div>

        <!-- 列表 -->
        <div id="listBlog"  class="block gap-6 grid-cols-1 lg:grid-cols-3 sm:grid-cols-2">
            {posts.map((b: any) => <BlogList blog={b} />)}
        </div>
    </section>
</BaseLayout>

<script>
    document.addEventListener('astro:page-load', () => {
            // 图标
        const list = document.getElementById('list')
        const card = document.getElementById('card')
        // 内容
        const listBlog = document.getElementById('listBlog')
        const cardBlog = document.getElementById('cardBlog')

        listBlog?.setAttribute("style","display:none")
        card?.setAttribute("style","display:none")

        if(list){
            list.addEventListener('click', function(event) {
                list?.setAttribute("style","display:none")
                listBlog?.setAttribute("style","display:block")

                card?.setAttribute("style","display:flex")
                cardBlog?.setAttribute("style","display:none")
                
            })
        }

        if(card){
            card.addEventListener('click', function(event) {
                card?.setAttribute("style","display:none")
                cardBlog?.setAttribute("style","display:grid")
                list?.setAttribute("style","display:flex")
                listBlog?.setAttribute("style","display:none")
            })
        }

    });
    
</script>