---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import { formatDate } from '../../support/time'

const { blog } = Astro.props

interface Props {
    blog: CollectionEntry<'posts'>
}
---


<a  class="group"
    href={`/posts/${blog.slug}/`}
    data-astro-prefetch
>
    <div class="border-b border-gray-300 dark:border-gray-600 pt-10 pb-5">
        <div>
            <div class="flex items-center space-x-4 rtl:space-x-reverse">
            <div class="flex-shrink-0">
                <Image
                    class="w-8 h-8 rounded-full  start-0 top-0 size-full object-cover transition duration-550 group-hover:scale-150"
                    src={blog.data.cardImage}
                    alt={blog.data.title}
                    draggable="false"
                    loading="eager"
                />
            </div>
            <div class="flex-1 min-w-0">
                <p class="text-lg font-semibold text-gray-900 truncate group-hover:text-orange-500 dark:text-white dark:group-hover:text-orange-500">
                    {blog.data.title}
                </p>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    {blog.data.description}
                </p>
            </div>
            <div class="inline-flex items-center text-sm pt-5 text-gray-500 dark:text-gray-400">
                {formatDate(blog.data.pubDate)}
            </div>
            </div>
        </div>
    </div>
</a>

 