---
import { formatDate } from 'support/time.ts'
import { queryTimelineArticlesApi } from '@api/article'
const { blog } = Astro.props
const timeline = await queryTimelineArticlesApi(blog.date)


---

<div class="max-w-3xl mx-auto">
    <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
        <time class="text-lg font-semibold text-gray-900 dark:text-white">{blog.date}</time>
        <ol class="mt-3 divide-y divide-gray-200 dark:divide-gray-700">
            {
                timeline.data.map((p:any)=>(
                    <li class="rounded-xl hover:bg-gray-100 hover:text-orange-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-orange-500">
                        <a href={`/posts/detail/${p.id}`} class="p-2 group">
                            <div>{p.title}</div>
                            <div class="items-center block sm:flex m-6">
                                <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0 group-hover:scale-110 transition duration-550" src={p.cover} alt="Jese Leos image"/>
                                <div class="text-gray-600 dark:text-gray-400">
                                    <div class="text-base font-normal line-clamp-2"> {p.summary} </div>
                                </div>
                            </div>
                        </a>
                    </li>
                ))
            }
            
            
        </ol>
    </div>
</div>
